div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;

}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 30px;
  font-weight: 900;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  overflow: auto;
}

.popup-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.container-popup-opened {
  z-index: 8030;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;

}


/*---------------------------------------------------------------------------------------*/
.container-image-popup {
  background: url('/assets/fondoDescrip.png') no-repeat;
  background-size: 100% 100%;
  width: 738px !important;
  /*649px*/
  min-height: 487px !important;
  overflow: visible !important;
  border: none;
  position: relative;

  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;

}

.popup-container {
  padding: 50px 110px 0 200px;
  /*140px 110px 0 200px;*/
  text-align: center;

}

.container-projectImage {
  width: 462px;
  height: 667px;
  position: absolute;
  bottom: -290px;
  left: -290px;
  text-align: center;
}

.image-project {
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}


.container-description-div1 {

  touch-action: auto;

  min-height: 160px;
  max-height: 300px;
  overflow: hidden;

}

.container-description-div2 {
  position: relative;
  overflow: visible;
  height: 100%;
  max-width: 100%;
  outline: 0;
  direction: ltr;
}

.container-description-div3 {
  margin-right: 0;
  overflow: hidden;
  width: auto;
  height: auto;

}

p {
  color: black;
  font-family: var(--font-family-all);
  font-size: var(--font-size-paragraph3);
  text-align: center;
  margin-top: 15px;

}



@media (max-width: 1239px) {
  .container-projectImage {
    display: none;
  }
}