.hobbies {
    margin: 5vw;
}

#container-hobbies {
    margin: 10vw 0 0 0;
}


.hobbies p {
    font-size: var(--font-size-title3);
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin: 2vw 0 0 0;
}


@media (max-width: 1024px) {
    #container-hobbies {
        flex-direction: column;
    }

    .programming,
    .kickboxing {
        margin-top: 10vw;
    }
    .container .draw img {
        height: 40vw;
    }
    .container .programming img {
        height: 40vw;
    }
    .container .kickboxing img {
        height: 40vw;
    }

}
 /*
@media (max-width: 900px) {

   .container .draw img {
        height: 30vw;
    }
    .container .programming img {
        height: 30vw;
    }
    .container .kickboxing img {
        height: 30vw;
    }
    
    .hobbies p {
        font-size: var(--font-size-title5);
    }
}*/

@media (max-width: 550px) {

    .container .draw img {
        height: 40vw;
    }
    .container .programming img {
        height: 40vw;
    }
    .container .kickboxing img {
        height: 40vw;
      
    }
    .hobbies p {
        font: inherit;
        vertical-align: baseline;
        font-size: var(--font-size-title6);
    }
}