

.hobbies {
    margin: 5vw;
}

#container-hobbies{
   margin: 10vw 0 0 0;
}


.hobbies p{
    font-size: var(--font-size-title3);
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin: 2vw 0 0 0 ;
}