<div class="hobbies" id="hobbie">
    <h3>Hobbies</h3>
    <div class="container" id="container-hobbies">
        <div class="draw">
            <img src="assets/tableta.svg" alt="Descripcion">
            <p>Ilustración <br> y diseño digital</p>
        </div>
        <div class="programming">
            <img src="assets/baseDatos.svg" alt="Descripcion">
            <p>Programación</p>

        </div>
        <div class="kickboxing">
            <img src="assets/guantes.svg" alt="Descripcion" width="348" height="342" style="margin-left: 2.5vw;">
            <p>Kickboxing/Muay Thai</p>
        </div>
    </div>


</div>
