.skills {
    margin: 5vw 5vw 15vw 5vw;
}

#container-skills {
    margin-top: 5vw;
}

.skills .container img {
    height: 30vw;
    width: 30vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 900px;
    max-height: 800px;
}


@media (max-width: 667px) {
    .container{
        justify-content: center;
    }
    .skills .container .design img{
        min-width: 250px;
        min-height: 250px;
        margin-left: 10vw;
    }
}