.skills {
    margin: 5vw 5vw 15vw 5vw;
}

#container-skills {
    margin-top: 5vw;
}

.skills .container img {
    height: 30vw;
    width: 30vw;
    min-width: 300px;
    min-height: 250px;
    max-width: 900px;
    max-height: 800px;
}


@media (max-width: 667px) {
    .skills .container .code img {
        min-height: 53vw;
        margin-right: 10vw;
    }
}