.container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 98;
    pointer-events: none;
}

.container-sidebar .menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    transform: translateY(-72px);
}

.container-sidebar .menu .item {
    height: 40px;
    width: 235px;
    box-shadow: 0 3px 6px #00000029;
    background-color: #fff;
    transform-origin: top right;
    transform: rotate(-45deg) translate(84px);
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    font-size: var(--font-size-paragraph4);
    font-weight: 800;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: all;
    transition: transform .2s ease-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .16);
    border: none;

}

.container-sidebar .menu .item:hover {
    transform: rotate(-45deg) translate(20px);
    cursor: pointer;
}


@media (max-height: 590px) and (min-width: 1025px) {
    .container-sidebar .menu .item {
        transform: translate(84px);
    }

    .container-sidebar .menu .item:hover {
        transform: translate(20px);
    }

}

*:focus {
    outline: none;
}

@media (max-width: 1024px) {
    .container-sidebar {
        display: none;
    }

    .sidebar-expanded {
        display: flex;
    }

    .menu-toggle {
        position: fixed;
        top: 45%;
        right: 0;
        background-color: transparent;
        border: none;
        z-index: 100;   
    }
    .menu-active{
        left: 0;
        right: 100%;
    }
}
@media (max-width: 768px) {
    .container-sidebar .menu .item {
        width: 209px;
        font-size: var(--font-size-link);
        height: 30px;
    }
    
}

@media (min-width: 2560px) {
    .container-sidebar .menu .item {
        width: 295px;
        font-size: var(--font-size-paragraph2);
        height: 50px;
    }
    .container-sidebar .menu{
        gap:30px;
    }
}
