<div class="education" id="education">
    <h3>Educación</h3>
    <div class="container-education">
        <div class="uiUxDesign">
            <p class="subTitle">Diseño Ux/Ui</p>
            <p>Agencia de Aprendizaje a lo Largo de la Vida - Ministerio de Educación - GCBA <br> 2023</p>
        </div>
        <div class="softSkills">
            <p class="subTitle">Habilidades blandas</p>
            <p>Agencia de Aprendizaje a lo Largo de la Vida - Ministerio de Educación - GCBA <br> 2023</p>
        </div>
        <div class="university">
            <p class="subTitle">Licenciatura en sistemas</p>
            <p>Universidad Nacional de General Sarmiento <br>
                2019 - En curso</p>
        </div>
    </div>

</div>
