
.education {
    margin: 5vw 5vw 15vw 5vw;
    position: relative;
}
.background-Education{
    background: url('/assets/fondoEducation.svg') no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-attachment: initial;

}


.container-education {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 5vw;
   
}

.container-education div {
    margin: 5vw 2vw 2vw 2vw;
}

.container-education p {
    font-size: var(--font-size-title6);
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: var(--font-color-light);
}


.container-education .subTitle {
    font-size: var(--font-size-title3);
    font-style: normal;
    line-height: normal;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

@media (max-width: 1245px) {
    .container-education .uiUxDesign {
        margin-top: 10vw;
    }
}
@media (max-width: 550px) {
    .container-education .uiUxDesign {
        margin-top: 15vw;
    }
}
@media (max-width: 400px) {
    .background-Education {
       background: none;
    }
    .container-education p{
        color: black;
    }
}