footer {
    margin: 20vw 0 0 0;
}

.container-links-footer p {
    margin: 20px;
    margin-top: 1rem;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container-logo-footer {
    margin-right: 15px;
}

.footerIcon {
    width: 4vw ;
    height: 4vw;
    border-radius: 5vw;
    background: var(--gradient-pink);
    color: var(--font-color-light);
    border: none;
    margin: 0 10px 10px 0;

    &:hover {
        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
        cursor: pointer;
    }
}


.footer {
    background: var(--gradient-green);
    color: var(--font-color-light);
    text-align: left;
    /* Alinear texto a la izquierda */
    padding: 20px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container-links-footer {
    font-weight: bold;
}

.container-social-network-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 900px) {
    :host ::ng-deep .pi {
        font-size: 2vw;
    }

    :host ::ng-deep .p-icon {
        width: 2vw;
        height: 2vw;
    }


}

@media (max-width: 550px) {

    .footerIcon {
        border-radius: 5vw;
        min-width: 30px;
        min-height: 30px;
    }
    :host ::ng-deep .pi {
        font-size: 13px;
    }

}
