footer {
    margin: 0px;

}


.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container-logo-footer {
    margin-right: 15px;
}

.footerIcon {
    width: 4vw ;
    height: 4vw;
    border-radius: 5vw;
    background: var(--gradient-pink);
    color: var(--font-color-light);
    border: none;
    margin: 0 10px 10px 0;

    &:hover {
        border: 2px dashed rgb(255, 255, 255);
        box-shadow: 5px 2px 0px 1px #e62d9c;
        /*box-shadow: 5px 2px 0.5px 1px #e62d9c, 0px 0px 0px 2px rgb(255, 255, 255); /* Agrega un box-shadow y un border */
        cursor: pointer;
    }
}


.footer {
    /*background: var(--gradient-green);*/
    color: var(--font-color-light);
    text-align: left;
    padding: 20px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.container-social-network-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 900px) {
    :host ::ng-deep .pi {
        font-size: 2vw;
    }

    :host ::ng-deep .p-icon {
        width: 2vw;
        height: 2vw;
    }


}

@media (max-width: 550px) {

    .footerIcon {
        border-radius: 5vw;
        min-width: 30px;
        min-height: 30px;
    }
    :host ::ng-deep .pi {
        font-size: 13px;
    }

}
