<footer class="footer" id="footer">
    <div class="container-footer">


        <div class="container-social-network-footer">

            <button type="button" class="footerIcon" (click)="redirect('mail')"><i class="pi pi-envelope"></i></button>
            <button type="button" class="footerIcon" (click)="redirect('linkedin')"><i class="pi pi-linkedin"></i></button>
            <button type="button" class="footerIcon" (click)="redirect('github')"><i class="pi pi-github"></i></button>

        </div>
    </div>
</footer>