.projects {
    margin: 8vw 5vw 10vw 5vw;
}

.container-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.container-projects div {
    padding: 2vw 8vw 2vw 8vw;
    margin: 2vw;
}

.projects .container-projects img {
    height: 15vw;
    width: 15vw;
    min-width: 300px;
    min-height: 250px;
    max-width: 900px;
    max-height: 800px;
    transition: transform 0.3s ease-out;
}

.container-projects p {
    font-size: var(--font-size-title3);
    font-style: normal;
    line-height: normal;
    text-align: center;
    font-weight: bold;
    margin: 2vw 0 0 0;
    color: white;
}

#spinDimaia-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#styleBus-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#donar-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#dimaia-name{
    background: #E62D9C;
    border-radius: 50px;
    padding: 0px;
    margin: 0px;
    background-position: center;
    transition: transform 0.3s ease-out;
    
}

#dimaia-name:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#donar-name{
    background: #ED6D7B;
    border-radius: 50px;
    padding: 0px;
    margin: 0px;
    background-position: center;
    transition: transform 0.3s ease-out;
}

#donar-name:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#stylebus-name{
    background: #FFB827;
    border-radius: 50px;
    padding: 0px;
    margin: 0px;
    background-position: center;
    transition: transform 0.3s ease-out;
}
#stylebus-name:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 768px) {
    .projects .container-projects img{
        width: 10vw;
        height: 10vw;
        min-width: 100px;
        min-height: 100px;
    }
    #spinDimaia-img{
        min-width: 100px;
        min-height: 100px;
    }
    .container-projects p{
        font-size: var(--font-size-title6);
    }
}