<div class="projects" id="project">
    <h3>Proyectos</h3>
    <div class="container-projects">
        <div class="dimaia-project">
            <img id="spinDimaia-img" src="assets/spinDimaia.svg" alt="spinDimaia" (click)="showDescription('dimaia')">
            <div id="dimaia-name">
                <p (click)="showDescription('dimaia')">DIMAIA</p>
            </div>
            
        </div>


        <div class="donar-project">
            <img id="donar-img" src="assets/Donar.svg" alt="Descripcion" (click)="showDescription('donar')">
           <div id="donar-name">
            <P (click)="showDescription('donar')">DONA+</P>
           </div>
           

        </div>
        <div class="stylebus-project" id="styleBus-div">
            <img id="styleBus-img" src="assets/StyleBusSinFondo.svg" alt="Descripcion" (click)="showDescription('stylebus')">
            <div id="stylebus-name">
                <p (click)="showDescription('stylebus')">StyleBus</p>
            </div>
            
        </div>

    </div>
</div>

<app-popup [projectName]="projectName" [projectDescription]="descriptionProject" [projectMediaUrl]="urlProject"
    [visible]="popupVisible" (visibleChange)="popupVisible = $event" #popup></app-popup>