.view {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: var(--font-family);

}

.fondoTop{
    background: url('/assets/fondoFullStart.svg') no-repeat;
    margin: 0px ;
    background-size: 100%;
    background-position-x: center;
    background-position-y: -10vw;
}

@media (max-width: 1024px) {
 .sidebar{
    display: none;
 }   
}

