.view {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: var(--font-family);

}

.backgroundTop{
    background: url('/assets/fondoFullStart.svg') no-repeat;
    margin: 0px ;
    background-size: 100%;
    background-position-x: center;
    background-position-y: -10vw;
}


