.view {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: var(--font-family);

}

.buttons-frontPage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
    margin: 5vw 5vw 3vw 5vw;
}
/*--------------------------------------------------SIDEBAR------------------------------------------------------------*/
.container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 98;
    pointer-events: none;
}

.container-sidebar .menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    transform: translateY(-72px);
}

.container-sidebar .menu .item {
    height: 40px;
    width: 235px;
    box-shadow: 0 3px 6px #00000029;
    background-color: #fff;
    transform-origin: top right;
    transform: rotate(-45deg) translate(84px);
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    font-size: var(--font-size-paragraph4);
    font-weight: 800;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: all;
    transition: transform .2s ease-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .16);
    border: none;

}

.container-sidebar .menu .item:hover {
    transform: rotate(-45deg) translate(20px);
    cursor: pointer;
}


@media (max-height: 590px) and (min-width: 1025px) {
    .container-sidebar .menu .item {
        transform: translate(84px);
    }

    .container-sidebar .menu .item:hover {
        transform: translate(20px);
    }

}

*:focus {
    outline: none;
}