<body>
    <div class="view">
        
        <app-start id="start"></app-start>
        
        <app-sidebar></app-sidebar>

        <div class="separator">
            <img src="assets/Separador.svg" alt="Descripción de la imagen">

        </div>

        <app-projects class="project" id="projects"></app-projects>
       

        <div class="separator">
            <img src="assets/Separador.svg" alt="Descripción de la imagen">

        </div>

        <app-skills class="skill" id="skills"></app-skills>

        <div class="separator">
            <img src="assets/Separador.svg" alt="Descripción de la imagen">

        </div>

        <app-education class="education" id="education"></app-education>

        <div class="separator">
            <img src="assets/Separador.svg" alt="Descripción de la imagen">

        </div>

        <app-hobbies class="hobbie" id="hobbies"></app-hobbies>


        <app-footer class="footer" id="footer"></app-footer>


    </div>

    

</body>