<div class="start" id="top-page">
    <div class="title">
        <h1>¡Hola! Soy Guadalupe, desarrolladora front-end y diseñadora UI/UX</h1>
    </div>

    <div class="photography">
        <img src="assets/BackgroundPhoto.svg" alt="Descripción de la imagen">
    </div>
    <div class="aboutMe">
        <h3>Perfil</h3>

        <p>Soy una estudiante de sistemas en busqueda de mi primera oportunidad laboral en IT como
            desarrolladora frontend. Aunque mi preferencia se inclina al front-end, mi experiencia en backend
            complementa mi conjunto de habilidades, permitiendome ofrecer soluciones mas completas y versatiles.
        </p>
    </div>
</div>