<div class="start" id="top-page">
 
        <div class="title">
            <h1>¡Hola! Soy Guadalupe, desarrolladora front-end y diseñadora UX/UI</h1>
        </div>
    
        <div class="photography">
            <img src="assets/GuadaNev.svg" alt="Descripción de la imagen">
        </div>
        <div class="aboutMe">
            <h3>Perfil</h3>
    
            <p>Busco mi primera oportunidad laboral en IT como desarrolladora frontend.  
            Mi experiencia en backend complementa mi conjunto de habilidades, permitiéndome ofrecer soluciones más completas y versátiles.
            </p>
        </div>
   
   
    
</div>

<div class="buttons-frontPage">
    <button class="p-button-global" (click)="downloadCV()">Descargar CV</button>

    <button class="p-button-global" (click)="slowScroll('footer')">Contacto</button>

</div>